.parallax-parent {
 height: 100%;
}

.parallax {
 /* Set background image for class */

 /* Full height */
 height: 100%; 

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 768px) {
 .parallax {
   background-attachment: scroll;
 }
}